## LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

*.dvi
*.ps
*.thm
*.nav
*.snm
*.vrb
*.upa
*.upb

## macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

## IDEs
.vscode/
.idea/
*.swp
*.swo
*.wsp

## Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## C++
*.o
*.obj
*.exe
*.out
*.app

mmd/
SourceCode/
scratch/